// 首页样式文件
.search {
	background-color: #f7f7f7;
	padding: 18upx 48upx;
	
	.search-inp {
		height: 84upx;
		line-height: 84upx;
		border: 1upx solid #f7f7f7;
		background-color: #fff;
		border-radius: 50upx;
		font-size: 30upx;
		color: #b2b2b2;
		display: flex;
		align-items: center;
		
		img {
			width: 40upx;
			height: 40upx;
			margin: 0 30upx;
		}
	}
}
.list {
	padding: 0 30upx;
}