// 职位详情页面样式
.back {
	height: 20upx;
	background-color: #f7f7f7;
}
@mixin words-title {
	line-height: 112upx;
	color: #484848;
	font-size: 34upx;
	font-weight: 600
};
.job-detail {
	// 详情上方区域
	.job-detail_top {
		background-color: #fff;
		padding: 60upx 30upx 30upx 32upx;
		
		.job-name {
			font-size: 32upx; 
			font-weight: 600;
			color: #484848;
		}
		
		.money {
			color: #eb4c44;
			
			.num {
				font-size: 28upx;
				font-weight: 600;
				margin-right: 4upx;
			}
			
			.unit {
				font-size: 22upx;
			}
		}
		
		.ask {
			.tag {
				padding: 5upx 8upx;
				border: 1px solid #eb4c44;
				border-radius: 4upx;
				background-color: #fff4f3;
				color: #eb4c44;
				font-size: 20upx;
			}
			 
			.words {
				color: #606060;
				margin-left: 15upx;
				font-size: 30upx;
			}
		}
		
		.people {
			display: flex;
			margin-top: 84upx;
			
			img {
				width: 84upx;
				height: 84upx;
				border-radius: 50%;
			}
			
			.content {
				color: #606060;
				margin-left: 16upx;
				
				.name {
					font-size: 30upx;	
				}
				
				.company {
					font-size: 24upx;
					margin-top: 8upx;
					
					.line {
						margin: 0 10upx;
					}
				}
			}
			
		}
	}
	// 职位描述
	.draw {
		padding: 60upx 30upx;
		background-color: #fff;
		margin-top: 20upx;
		
		.title {
			font-size: 40upx;
			color: #484848;
			font-weight: 600;
		}
		
		.prize {
			border-bottom: 1px solid #e7e7e7;
			.say {
				@include words-title;
			}
			img {
				width: 100%;
				height: 270upx;
			}
		}
		
		.office {
			.dec {
				@include words-title;
			}
			
			.list {
				.item {
					font-size: 30upx;
					line-height: 50upx;
					color: #606060;
				}
			}
			
			.more {
				text-align: center;
				font-size: 30upx;
				line-height: 60upx;
			}
		}
	}
	
	// 公司介绍
	.qj {
		padding: 0 30upx;
		margin-top: 30upx;
		
		.top {
			display: flex;
			align-items: center;
			border-bottom: 1px solid #e7e7e7;
			padding-bottom: 40upx;
			
			img {
				width: 81upx;
				height: 81upx;
			}
			
			.qj-company {
				margin-left: 20upx;
				
				.company-name {
					font-size: 34upx;
					color: #484848;
					font-weight: 600;
				}
				
				.company-msg {
					font-size: 26upx;
					color: #606060;
					margin-top: 4upx;
				}		
			}
		}
		.company-dec {
			margin-top: 40upx;
			font-size: 28upx;
			color: #606060;
			line-height: 50upx;
			border-bottom: 1px solid #e7e7e7;
			
			.more {
				text-align: center;
				
			}
		}
		
		.address {
			line-height: 110upx;
			font-size: 28upx;
			color: #606060;
			text-align: center;
		}
	}
	
	// 其他职位推荐
	.other-job {
		margin-top: 20upx;
		padding: 0 30upx;
		
		.title {
			@include words-title;
		}
		
		.job-list {
			display: flex;
			justify-content: space-between;
			font-size: 28upx;
			line-height: 50upx;
			color: #484848;
			
			.price {
				color: #eb4c44;
				font-weight: 600;
			}
		}
		
		.more-job {
			text-align: center;
			color: #1fb19e;
			font-size: 24upx;
			line-height: 100upx;
		}
	}
	
	.send-btn {
		background-color: #1fb19e;
		color: #fff;
	}
}